.home-container {
    overflow-y: auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__bio {
        padding: 20px;
        max-width: 900px;
        margin: 0 auto;

        p {
            letter-spacing: 0px;
            font-style: italic;
            padding: 5px 0px;

            &:last-child {
                font-style: normal;
                font-weight: 600;
                padding-left: 50px;
            }
        }

    }

    &__album-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

}